/.idea
/.vscode
/server/config/install.lock

/sever/runtime/cache
/sever/runtime/log
/sever/runtime/temp
/sever/uploads/images
/sever/uploads/user
/sever/uploads/qr_code
/sever/uploads/other
/server/.env
