/.idea
/.vscode


/server/config/install.lock
/server/public/uploads/*
!/server/public/uploads/index.html
/server/runtime/*
!/server/runtime/index.html
/server/.env


node_modules/
uniapp/.hbuilderx/launch.json
