{layout name="layout1" /}
<style>
    .layui-form-label{
        width: 160px;
    }
</style>
<div class="layui-col-md12">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="margin-top: 5px">
                <h2>Clarity</h2>
            </div>
            <div class="layui-card-body" >
                <div class="layui-form" lay-filter="">
                    <div class="layui-form-item " style="margin-bottom: 0;">
                        <label class="layui-form-label" style="white-space: nowrap;">应用ID ：</label>
                        <div class="layui-input-inline ">
                            <input class="layui-input" type="text" name="clarity_app_id" value="<?php echo $site_statistic['clarity_app_id'] ?? ''; ?>"  >
                        </div>
                    </div>
                    <div class="layui-form-item ">
                        <label class="layui-form-label" style="white-space: nowrap;">&nbsp;</label>
                        <div class="layui-input-inline ">
                            <div class=" layui-form-mid layui-word-aux" style="white-space: nowrap">
                                请访问 <a  href="https://clarity.microsoft.com" target="_blank" >Clarity</a> 官网创建你的Clarity统计应用
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn {$view_theme_color}" lay-submit lay-filter="set">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.config({
        version:"{$front_version}",
        base: '/static/plug/layui-admin/dist/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'like'], function(){
        var $ = layui.$
            ,like = layui.like
            ,form = layui.form;

        form.on('submit(set)',function (data) {
            like.ajax({
                url: '{:url("SiteStatistic/set")}'
                ,data: data.field
                ,type: 'post'
                ,success: function(res){
                    layer.msg(res.msg, {
                        offset: '15px'
                        ,icon: 1
                        ,time: 1500
                    }, function(){
                        location.href = location.href;
                    });
                }
            });
        });
    });

</script>