{layout name="layout2" /}
<style>
    .layui-form-item .layui-form-label { width: 132px; }
    .layui-form-item .layui-input-inline { width: 280px; }
</style>

<div class="layui-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label"><font color="red">*</font>模板名称：</label>
        <div class="layui-input-inline" >
            <input type="text" name="name" lay-verify="required" lay-vertype="tips" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><font color="red">*</font>快递公司：</label>
        <div class="layui-input-inline">
            <select name="express_id" lay-verify="required">
                <option value=""></option>
                {volist name="express" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><font color="red">*</font>模板编号：</label>
        <div class="layui-input-inline" >
            <input type="text" name="tempid" lay-verify="required" lay-vertype="tips" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电子面单客户账号：</label>
        <div class="layui-input-inline">
            <input type="text" name="partner_id" lay-vertype="tips" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电子面单密码：</label>
        <div class="layui-input-inline">
            <input type="text" name="partner_key" lay-vertype="tips" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><font color="red">*</font>收件网点标识：</label>
        <div class="layui-input-inline">
            <input type="text" name="net" lay-verify="required" lay-vertype="tips" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><font color="red">*</font>运费支付方式：</label>
        <div class="layui-input-inline">
            <select name="pay_type" lay-verify="required">
                <option value="SHIPPER">寄方付</option>
                <option value="CONSIGNEE">到付</option>
                <option value="MONTHLY">月结</option>
                <option value="THIRDPARTY">第三方支付</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="addSubmit" id="addSubmit" value="确认">
    </div>
</div>

<script>
    layui.config({
        version:"{$front_version}",
        base: '/static/plug/layui-admin/dist/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form','like_area','like'], function(){


    })
</script>
