//主题色
$-color-primary: #FF2C3C;
//主要边框颜色
$-color-border: #E5E5E5;
//黑色
$-color-black:#222222;
//白色
$-color-white: #ffffff;
//字体主色
$-color-normal: #333333;
//字体浅色
$-color-lighter: #555;
//字体更浅色
$-color-muted: #888;

//背景色
$-color-body: #F2F2F2;