/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */


/* 颜色变量 */

/* 行为相关颜色 */
//主题色
$-color-primary: #FF2C3C;
//主要边框颜色
$-color-border: #E5E5E5;
//黑色
$-color-black:#101010;
//白色
$-color-white: #ffffff;
//字体主色
$-color-normal: #333333;
//字体浅色
$-color-lighter: #666666;
//字体更浅色
$-color-muted: #999999;

//背景色
$-color-body: #F6F6F6;

//边框
$-solid-border: 1px solid $-color-border;
$-dashed-border: 1px dashed $-color-border;



$u-type-primary: #ff2c3c;
$u-type-error: #fa3534;
$u-type-warning: #ff9900;
$u-type-success: #19be6b;
$u-type-info: #909399;
$u-type-primary-light: #ecf5ff;
$u-type-error-light: #fef0f0;
$u-type-warning-light: #fdf6ec;
$u-type-success-light: #dbf1e1;
$u-type-info-light: #f4f4f5;
$u-type-primary-dark: #2b85e4;
$u-type-error-dark: #dd6161;
$u-type-warning-dark: #f29100;
$u-type-success-dark: #18b566;
$u-type-info-dark: #82848a;
$u-type-primary-disabled: #a0cfff;
$u-type-error-disabled: #fab6b6;
$u-type-warning-disabled: #fcbd71;
$u-type-success-disabled: #71d5a1;
$u-type-info-disabled: #c8c9cc;
$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;
$u-form-item-border-color: #dcdfe6;
$u-form-item-height: 70rpx;

