
function getBtn(type) {
    var text = ''
    switch (type) {
      
        case 0:
            text = '去使用';
            break;
        case 1:
            text = '已使用';
            break;
        case 2:
            text = '已过期';
             break;
        case 3:
            text = '领取';
            break;
    }
    return text
}
module.exports = getBtn;
