<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:url()}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/plug/layui-admin/dist/layuiadmin/layui/css/layui.css?v={$front_version}" media="all">
    <link rel="stylesheet" href="/static/plug/layui-admin/dist/layuiadmin/style/admin.css?v={$front_version}" media="all">
    <link rel="stylesheet" href="/static/plug/layui-admin/dist/layuiadmin/style/like.css?v={$front_version}" media="all">
</head>
<body>
{$js_code|raw}
<script src="/static/plug/layui-admin/dist/layuiadmin/layui/layui.js?v={$front_version}"></script>
<script src="/static/common/js/function.js?v={$front_version}"></script>
<script src="/static/common/js/Time.js?v={$front_version}"></script>
{__CONTENT__}
</body>
</html>