{layout name="layout2" /}
<style>
    .layui-form {
        margin: 5px;
    }
    .layui-form-label {
        width: 120px;
        text-align: left;
        padding-left:30px;
        color: #6a6f6c !important;
    }
    .layui-input {
        width: 300px;
    }
    .layui-textarea {
        width: 300px;
    }
    .reqRed:before {
        content: '*';
        color: red;
        margin-right: 5px;
    }
</style>
<form class="layui-form">
    <input type="hidden" name="id" value="{$detail.id}">
    <div class="layui-form-item">
        <label class="layui-form-label reqRed">等级名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="{$detail.name}" required  lay-verify="required" autocomplete="off" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label reqRed">等级级别</label>
        <div class="layui-inline">
            <input type="text" name="weights" value="{$detail.weights}" required  lay-verify="required" autocomplete="off" class="layui-input layui-disabled" />
        </div>
        <div class="layui-inline">
            级
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">等级描述</label>
        <div class="layui-input-block">
            <textarea name="remark" class="layui-textarea">{$detail.remark}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label reqRed">一级佣金比例</label>
        <div class="layui-inline">
            <input type="number" min="0" name="first_ratio" value="{$detail.first_ratio}" required  lay-verify="required" autocomplete="off" class="layui-input" />
        </div>
        <div class="layui-inline">
            %
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label reqRed">二级佣金比例</label>
        <div class="layui-inline">
            <input type="number" min="0" name="second_ratio" value="{$detail.second_ratio}" required  lay-verify="required" autocomplete="off" class="layui-input" />
        </div>
        <div class="layui-inline">
            %
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block layui-hide">
            <button class="layui-btn" lay-submit lay-filter="editSubmit" id="editSubmit">立即提交</button>
        </div>
    </div>
</form>

<script>

    layui.config({
        version: "{$front_version}",
        base: '/static/lib/'
    }).use(['element', 'form'], function () {
        var $ = layui.$
            , form = layui.form
            , layer = layui.layer;
    });
</script>
