{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在跳转</title>
    <link rel="stylesheet" href="__PUBLIC__/static/plug/layui-admin/dist/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/static/plug/layui-admin/dist/layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid"></div>
</body>
<script src="__PUBLIC__/static/plug/layui-admin/dist/layuiadmin/layui/layui.all.js"></script>
<script>
    layer.msg('<?php echo(strip_tags($msg));?>', {
        offset: '15px'
        ,icon: 2
        ,time: '<?php echo($wait*1000);?>'
    }, function(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
        if (self == top) {
            if('<?php echo($url);?>'){
                history.back(-1);
            }else{
                location.href = "<?php echo($url);?>";
            }
        }
    });
</script>
</html>